/*
 * アラートメッセージ
 */
.p-alert-msg {
  display: none;
  color: #fff;
  line-height: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  text-align: center;

  &--sucess{
    background: #01b3e6;
  }

  &--err{
    background: #fe8a8b;
  }
}
.p-area-error-msg {
  color: lightcoral;
}
