.p-select_list{
  overflow: hidden;
  &__selectdiv {
    position: relative;

    float: left;
    width: 180px;
    min-width: 100px;
    &__select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      display: block;
      width: 100%;
      max-width: 320px;
      height: 50px;
      float: right;
      margin: 5px 0px;
      padding: 0px 24px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.75;
      color: #990073;
      background-color: #fff;
      background-image: none;
      border: 2px solid #990073;
      -ms-word-break: normal;
      word-break: normal;
    }
    &:after{
      content: '<>';
      font: 14px "Consolas", monospace;
      color: #990073;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/

      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid #999;
      /*left line */

      position: absolute;
      pointer-events: none;
    }
  }
}

