/*タグボタン*/
.p-tag-button {
  margin: 2px;
  color: #fff;
  background-color: #990073;
  border-color: transparent;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 16px;
  text-align: center;
}